
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home</title>
      </head>

<body>
    <style>
        body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
    </style>
    

<div class="about-section">
    <h1>About Us Page</h1>
    <p>We sell various products like trusted electronics, branded clothes, trendy footwear and beauty essentials too</p>
    <p>browse the website for your seamless shopping experience</p>
  </div>
  
  <h2 style="text-align:center">Our Products</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="images/beauty.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Clothing</h2>
          <p>Shop for both men and women clothing</p>
          <p><button class="button">Click Here</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="image/electronics.jpeg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>electronics</h2>
          <p class="title">Shop from wide range of laptops, mobiles, TVs</p>
        
          <p><button class="button">Click Here</button></p>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <img src="image/beauty.jpeg" alt="Mike" style="width:90%" height="27%">
          <div class="container">

            <h2>beauty</h2>
            <p class="title">Shop for the most affordable and trusted beauty products</p>
          
            <p><button class="button">Click Here</button></p>
          </div>
        </div>
      </div>
  
    <div class="column">
      <div class="card">
        <img src="image/shoes.jpeg" alt="John" style="width:100%" height="25%">
        <div class="container">
          <h2>Men and Women Footwear</h2>
          <p class="title">Footwear</p>
          <p>Shop for comfortable yet trendy footwear</p>
          <p><button class="button">Click</button></p>
        </div>
      </div>
    </div>
  </div>

  </body>
  </html>
  