<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home image</title>

<style>

            .about-section {

                padding: 50px;

                text-align: center;

                background-color: #474e5d;

                color: white;

            }
            p{
                font-size:18px;
            }
        </style>

</head>
<body > <div class="about-section">

<!--home section  -->

            <h1>Shoppy RN</h1>

            <p>We sell various products like trusted electronics, branded clothes, trendy footwear and beauty essentials too</p>

            <p>browse the website for your seamless shopping experience</p>

        </div>


        <center>
            <h2>
                Top categories</h2>
        </center>


        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="images/electronics.jpg" alt="tv1" class="bd-placeholder-img card-img-top" width="100%" height="225px">

                            <h3>we deal in  tv,laptop and phones</h3>
                            <p class="card-text">

                                <a href="electronic" style="font-size:20px">view products</a>

                            </p>


                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="images/beauty.png" alt="tv1" class="bd-placeholder-img card-img-top" width="100%" height="225px">

                            <h3>we deal in hair,skin and makeup products</h3>
                            <p class="card-text">

                                <a href="beauty" style="font-size:20px">view products</a>

                            </p>


                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="images/fash.jpg" alt="tv1" class="bd-placeholder-img card-img-top" width="100%" height="225px">

                            <h3>we deal in shirts,pant,suites etc</h3>
                            <p class="card-text">

                                <a href="clothes" style="font-size:20px">view products</a>

                            </p>


                        </div>
                    </div>
                </div>


            </div>

        </div>


</body>
</html>